<div id="form">
  <h2><%= app.name %></h2>
  <% if (locals.created) { %>
    <div id="created">
      <p>The app has been successfully created!</p>
      <p>Secret: <span><%= app.secret %></span></p>
      <p>Make sure to save it somewhere!</p>
    </div>
  <% } %>
  <div class="column_container">
    <button id="app_copy_id">Copy ID</button>
    <button id="app_reset_secret">Reset Secret</button>
    <button id="delete_app" class="danger">Delete App</button>
  </div>
  <hr>
  <h3 class="gray">Redirect URIs</h3>
  <ul id="redirect_uris">
    <% for (let i = 0; i < app.redirect_uris.length; i++) { %>
      <li data-index="<%= i %>">
        <span><%= app.redirect_uris[i] %></span>
        <button class="remove_redirect_uri_btn">Remove</button>
      </li>
    <% } %>
    <% if (app.redirect_uris.length < 5) { %>
      <li id="add_redirect_uri">
        <input id="app_redirect_uri_input" type="text" placeholder="https://example.com">
        <button id="add_redirect_uri_btn">Add</button>
      </li>
    <% } %>
  </ul>
</div>
<div id="confirm" style="display: none">
  <p id="status_error"></p>
  <p class="gray">Enter your password to confirm.</p>
  <input type="password" id="password_confirm">
</div>

<style>
  #redirect_uris {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #redirect_uris li {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4em;
    margin: 0 4px;
    padding: 0;
  }

  #redirect_uris li span {
    user-select: none;
    background: var(--secondary-background);
    border: 2px solid var(--secondary-foreground);
    margin: 8px 0;
    padding: 4px;
  }

  #add_redirect_uri {
    opacity: 0.7;
  }
</style>

<script>
  const redirectURIs = <%- JSON.stringify(app.redirect_uris) %>;
  document.addEventListener("click", (e) => e.target.blur());

  app_copy_id.addEventListener("click", () => {
    navigator.clipboard.writeText("<%= app.id %>");
  });

  app_reset_secret.addEventListener("click", () => {

  });

  delete_app.addEventListener("click", () => {

  })
</script>