<div id="form">
  <h2><%= app.name %></h2>
  <div id="highlight">
    <% if (locals.new_app_secret) { %>
      <p>The app has been successfully created!</p>
      <p>Secret: <span><%= new_app_secret %></span></p>
      <p>Make sure to save it somewhere!</p>
    <% } %>
  </div>
  <div class="column_container">
    <button id="app_copy_id">Copy ID</button>
    <button id="app_reset_secret">Reset Secret</button>
    <button id="delete_app" class="danger">Delete App</button>
  </div>
  <h3 class="gray">Redirect URIs</h3>
  <ul id="redirect_uris">
    <% for (const uri of app.redirect_uris) { %>
      <li data-uri="<%= uri %>">
        <span><%= uri %></span>
        <button class="remove_redirect_uri_btn">Remove</button>
      </li>
    <% } %>
    <li id="add_redirect_uri">
      <input id="add_redirect_uri_input" type="text" placeholder="https://example.com" maxlength="250" autocomplete="off">
      <button id="add_redirect_uri_btn">Add</button>
    </li>
  </ul>
</div>
<div id="confirm_form" style="display: none">
  <p id="status_warn"></p>
  <p id="status_error"></p>
  <p class="gray">Enter your password to confirm.</p>
  <input type="password" id="password_confirm">
  <div class="column_container">
    <button id="confirm_btn" class="danger" disabled>Confirm</button>
    <button id="cancel_btn">Cancel</button>
  </div>
</div>

<script>
  const redirectURIs = <%- JSON.stringify(app.redirect_uris) %>;
  const appID = "<%= app.id %>";
</script>
<script src="/static/script/app_settings.js" async defer></script>