<h3>Authorized Applications</h3>
<ul id="authed_apps">
  <% for (const auth of auths) { %>
    <li class="app" data-app-id="<%= auth.app_id %>">
      <div>
        <p><%= auth.name %></p>
        <button class="app_deauthorize_btn danger">Deauthorize</button>
      </div>
      <ul class="permissions">
        <% for (const perm of auth.scopes) { %>
          <li><%= scopes[perm] %></li>
        <% } %>
      </ul>
    </li>
  <% } %>
  <% if (!auths.length) { %>
    <p class="gray">There's nothing here yet</p>
  <% } %>
</ul>
<h3>My Applications</h3>
<ul id="app_list">
  <% for (const app of apps) { %>
    <a href="/settings/api/app/<%= app.id %>">
      <li class="app">
        <%= app.name %>
      </li>
    </a>
  <% } %>
  <% if (apps.length < 10) { %>
    <a href="/settings/api/create-app" class="btn">
      <button id="app_create_btn">Create</button>
    </a>
  <% } %>
</ul>
